@font-face {font-family:"owners";
src:url("fonts/owners-bold.woff2") format("woff2");
font-style:normal;font-weight:700;font-stretch:normal;font-display: swap}
@font-face {font-family: 'space-mono';
src:url("fonts/space-mono-bold.woff2") format("woff2");
font-style:normal;font-weight:700;font-stretch:normal;font-display: swap}
@font-face {
font-family: 'space-mono';
src:url("fonts/space-mono.woff2") format("woff2");
font-style:normal;font-weight:500;font-stretch:normal;font-display: swap}

h1 {font-family: "owners", sans-serif;
    letter-spacing: 1pt;
    margin: 0
}

h2 {font-family: "space-mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px
}

symbol {font-family: "space-mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 16px
}

* {text-decoration: none}
body {margin: 0px 0px 0px 0px; background: var(--black)}
html {scroll-behavior: smooth; --black: #121212; --yellow: rgb(230, 245, 0); --white: #F3F2EB; cursor: crosshair;}

.typed-cursor{color: var(--yellow)}

a {color: inherit}

.d-f {display: flex}
.f-r {flex-direction: row}
.f-c {flex-direction: column}

.container{
    display: flex;
    justify-content: left;
    padding-bottom: 15px;
    line-height: 12.5vw;
    color: var(--white)
}

div.container>h1{font-size: 16vw;}

h1{font-size: 32px}
html {scroll-behavior: smooth}

#menuToggle {
    display: block;
    position: fixed;
    top: 25px;
    left: 20px;
    height: 0;
    width: 0;
    z-index: 999;
    user-select: none;
}

a {text-decoration: none}
ul {list-style-type: none}

#menuToggle input {
    display: block;
    z-index: 999999;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    z-index: 999999;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--black);
    border-radius: 0;
    z-index: 1;
    left: 0px;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

.pages {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100vw;
    height: 100vh
}

#menuToggle span:first-child {transform-origin: 0% 0%;}
#menuToggle span:nth-last-child(2) {transform-origin: 0% 100%}

#menuToggle input:checked ~ span {opacity: 1; transform: rotate(45deg) translate(-2px, -1px);}

#menuToggle input:checked ~ span:nth-last-child(3) {opacity: 0;transform: rotate(0deg) scale(0.2, 0.2)}
#menuToggle input:checked ~ span:nth-last-child(2) {transform: rotate(-45deg) translate(0, -1px)}

.menu {
    display: flex;
    z-index: 999999;
    height: 100vh;
    width: 100vw;
    margin: -100px 0 0 -60px;
    padding: 75px;
    padding-top: 125px;
    background-attachment: fixed;
    background: linear-gradient(0.75turn, var(--yellow) 1%, #f2ff009a 10%);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    transform-origin: 0% 0%;
    transform: translate(calc(-100% + 115px), 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    gap: 25px 0
}

#menuToggle input:checked ~ ul {transform: none}

.design{padding-left: 3.7vw}

.nav1 {display: none;}

#home {
    position: fixed;
    align-items: right;
    width: 100vw;
    height: 100vh;
}

.pageheader {
    width: 100vw;
    height: 140px;
    overflow-x: hidden;
    color: var(--white);
}

.header {
    text-align: left;
    padding-left:20px;
    padding-bottom: 10px;
    flex-direction: column-reverse;
    align-items: flex-start;
}

#about {
    height: 100vh;
    flex-direction: row;
    background: linear-gradient(0.75turn, var(--yellow) 0%, #f3ff0f9a 100%);
    -moz-backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    margin-left: calc(100vw - 50px);
    gap: 100px;
    align-items: center;
    padding: 0 100px 0 100px;
}

.about-column {
    padding: 50px;
    color: var(--black);
    width: 400px;
}

#directions {
    width: 100vw;
    background: var(--black);
    -moz-backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px)
}

.hero-grid {border: solid var(--yellow);}

.grid {border: solid var(--white);}

.hero-grid-left {
    color: var(--white);
	flex: 1; 
    min-width: 80vw;
    padding-right: 20px;
    padding-top: 20px
}

.hero-grid-right {width:100px}

.g-l {
    width: 100px;
    background: var(--black);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px)
}

.g-r {
    flex: 1;
    min-width: 80vw;
    background: var(--black)
}

.hero-sub {
    line-height: 34px;
    text-align: right;
    border-width: 1px 1px 0px 0px;
}

.hero-logo {
    flex-direction: column-reverse;
    align-items: flex-end
}

.directions-container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    color: var(--white);
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.directions-content {
    height: 85vh;
    align-items: right
}

.directions-image {
    max-width: 300px;
}

.directions-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#scroll {
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 100vw;
    height: calc(100vh - 140px);
    overflow-y: scroll;
    bottom: 0;
}

.scroll-1 {
    display: flex;
    flex-direction: row;
    align-items: right;
    width: 100vw;
}

.pages::-webkit-scrollbar {display: none}

#students-container {padding-top: 90px}

.students-grid-right {
    margin-top: 0;
    flex: 1;
    display: flex;
    padding: 20px;
    flex-flow: row wrap;
    gap: 20px;
    z-index: 1;
    background: var(--black);
}

.students-top {
    position:relative;
    height: 140px;
    z-index: 10;
}

.student {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column-reverse;
    line-height: 30px;
    color: var(--white);
}

.filters {
    width: 1px;
    border-width: 1px 0px 2px 2px;
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll;}

.filter {
    height: 100%;
    width: fit-content;
    padding: 10px 15px;
    box-sizing: border-box;
    background: var(--black);
    color: var(--white);
    border: 2px solid #f3f2eb69;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.filter:hover {border-color: var(--white);}
.filter:active {border-color: var(--white) !important; background: var(--white) !important;color: var(--black);}
.filter.active {border-color: var(--yellow); background: var(--yellow); color: var(--black);}
.filter > h1 {font-size: 18px; margin-block-start: 1px}
.filter > symbol {font-size: 26px; margin-block-start: 0}
.filter > h1, .filter > symbol {margin-block-end: 0; line-height: 0}

.name, .quote {
    width: fill;
    height: 100%;
    padding: 15px;
    padding-bottom: 10px
}

.name {
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(0turn, #000000d2 0%, #00000037 30%, #00000000 60%)}

.name .symbol {
    color: var(--white);
    font-size: 42px;
    font-family: "space-mono", monospace;
    font-weight: 700;
    font-style: normal;
    line-height: 45px;
}

.quote {
    color: var(--black);
    flex-direction: column;
    background: linear-gradient(0.25turn, var(--yellow) 0%, #ffff8d9a 100%);
    display: none}

.quote > h1 {font-size: 28px !important;}

.student:hover .quote {display: flex;}
.student:hover .name {display: none;}

.student:hover {
    transform: scale(1.05) 100ms ease-in-out;
    transition: 100ms ease-in-out
}

.topnav {
    z-index: 9999;
    align-self: flex-start;
    width: 100%;
	padding: 15px 30px;
    position: fixed;
    background: linear-gradient(0.5turn, #121212 0%, #121212c7 20%, #1212127a 40%, #1212124a 60%, #12121222 75%, #1212120a 90%, #12121200 100%)
}

.topnav h1 {
    color: #ffffff78;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.animate{
    transition: 100ms ease-in-out;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
}

.topnav a h1:hover {color: var(--yellow)}
.topnav a h1.active {color: var(--white);}


#logo {
    color: var(--white);
    opacity: 0;
}

.hero-grid:hover #logo {
    opacity: .5;
}

.student-banner-name {font-size: 50px;}
.student-banner-symbol {font-size: 50px; color: var(--yellow);}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #000
}

.footer-column > h1 {color: var(--yellow)}
.footer-column > h2, .footer-column > a {color: var(--white)}
.footer-column {width: 25%; box-sizing: border-box}
.footer-logo {width: 100px; padding: 50px}

.footer, .website-end {
    z-index: 9999;
    box-sizing: border-box;
}

.website-end {
    background: var(--yellow);
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    text-align: center
}

@media only screen and (min-width: 1200px) and (max-height: 800px),
       only screen and (min-width: 1400px) and (max-height: 1000px),
       only screen and (min-width: 1600px) and (max-height: 1150px),
       only screen and (min-width: 1800px) and (max-height: 1200px) {
    .container{line-height: 9.375vw}
    .design{padding-left: 2.775vw}
    div.container>h1 {font-size: 12vw}
}

@media only screen and (min-width: 1200px) and (max-height: 700px),
       only screen and (min-width: 1400px) and (max-height: 850px),
       only screen and (min-width: 1600px) and (max-height: 950px),
       only screen and (min-width: 1800px) and (max-height: 1050px) {
    .container{line-height: 7.03125vw}
    .design{padding-left: 2.08125vw}
    div.container>h1 {font-size: 9vw}
}

@media only screen and (min-width: 1200px) and (max-height: 500px),
       only screen and (min-width: 1400px) and (max-height: 550px),
       only screen and (min-width: 1600px) and (max-height: 650px),
       only screen and (min-width: 1800px) and (max-height: 750px) {
    .container{line-height: 4.6875vw}
    .design{padding-left: 1.3875vw}
    div.container>h1 {font-size: 6vw}
}

@media only screen and (max-width: 850px) {
    .footer {
        flex-direction: column;
        padding: 25px;
        gap: 20px}
    .footer-column {width: 100%;}
    .website-end {
        background: var(--yellow);
        padding: 0px 10px 10px 10px;
        display: flex;
        justify-content: center;
    }
    .footer-logo {
        box-sizing: border-box;
        width: 50%;
        padding: 20px;
    }
    .footer h1 {font-size: 16px}
    .footer h2 {font-size: 14px}
}

@media only screen and (max-width: 750px) {
	.hero-grid-right {width:40px}
    .hero-sub {line-height: 3.9vw} 
    div.hero-sub>h1 {font-size: 3.5vw}
}

@media only screen and (max-width: 600px) {
    html {--black: #000;} 
    .nav1 {display: block}
    .topnav {display: none}
    .hero-grid-right {width:40px}
    .container{line-height: 11.25vw}
    .design{padding-left: 3.33vw}
    div.container>h1 {font-size: 14.4vw}

    .pages {
        flex-direction: column;
        overflow-y: scroll;
        width: 100%;
        overflow-x: hidden;
        height: auto
    }
    
    #about {
        height: fit-content;
        width: 100vw;
        flex-direction: column;
        margin-left: auto;
        margin-top: 100vh;
        padding: 0  0 0 20px;
        gap: 0px
    }

    .about-column {
        padding: 50px 100px 50px 100px;
        color: var(--black);
        width: auto;
    }

    .directions-container {
        height: fit-content;
        gap: 50px;
        width: 100%;
        padding: 20px;
        flex-direction: column;
    }

    .directions-content {
        height: fit-content;
    }

    .directions-image {
        margin: auto;
        display: block;
        max-width: 100%;
    }
    
    .directions-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .students-grid-right {
        margin-top: 0;
        align-self: flex-start;
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: calc(100% - 75px);
        align-items: center;
    }

    #students-container {padding-top: 20px !important}

    #scroll {
        align-items: right;
        height: fit-content;
        width: auto;}
    
    .pageheader {height: 70px}
    .g-l {width: 75px; min-width: 75px; border: none; background: #00000000;}
}

@media only screen and (max-width: 470px) {
    .container{line-height: 9.375vw;}
    .design{padding-left: 2.775vw}
    div.container>h1 {font-size: 12vw;}
}

@media only screen and (max-width: 400px) {
    .container{line-height: 7.03125vw}
    .design{padding-left: 2.08125vw}
    div.container>h1 {font-size: 9vw}
    .hero-sub {line-height: 3.12vw} 
    div.hero-sub>h1 {font-size: 2.8vw}
}

@media only screen and (max-width: 330px) {
    .student {transform: scale(0.8) translate(-10px, 0)}
    .students-grid-right {padding: 0px; gap: 0px}
}

.website-end a {text-decoration: underline}

.student {background-size: 10250px !important; background: url('s.webp')}
#DANYALAHMED {background-position: -0 -0}
#EVANGELOSANGELOU {background-position: -250px 0}
#SARAANSTEE {background-position: -500px 0}
#JADEBEARD {background-position: -750px 0}
#FARZANANOORBHUIYAN {background-position: -1000px 0}
#KAIBURLEY {background-position: -1250px 0}
#XIYUCAI {background-position: -1500px 0}
#KEYICHEN {background-position: -1750px 0}
#DORIDASHTI {background-position: -2000px 0}
#ADRIANDELGADO {background-position: -2250px 0}
#JAIDHALIWAL {background-position: -2500px 0}
#BOBBIEDIKE {background-position: -2750px 0}
#CHARLIEFITZPATRICK {background-position: -3000px 0}
#SAMUELGREEN {background-position: -3250px 0}
#ZIMOUHUANG {background-position: -3500px 0}
#RUICHENHUANG {background-position: -3750px 0}
#ZHEHUANG {background-position: -4000px 0}
#REHEEMIFILL {background-position: -4250px 0}
#MIRELALESNEANU {background-position: -4500px 0}
#YUJIALI {background-position: -4750px 0}
#YONGLINLIAO {background-position: -5000px 0}
#ALEXLINDON {background-position: -5250px 0}
#ZHENLILIU {background-position: -5500px 0}
#CHIHIMLO {background-position: -5750px 0}
#ANNATENZINLOCKLEY {background-position: -6000px 0}
#LOKEYEANNETUNG {background-position: -6250px 0}
#GIOVANNINAMISDIAZ {background-position: -6500px 0}
#ADAOBIOBIOHA {background-position: -6750px 0}
#ALEXANDRAPANAYI {background-position: -7000px 0}
#ANGELIKAPIORO {background-position: -7250px 0}
#SAVINASALLAN {background-position: -7500px 0}
#TOMASSAMPAIOROCHA {background-position: -7750px 0}
#ELINORSLACK {background-position: -8000px 0}
#MOHAMMEDUDDIN {background-position: -8250px 0}
#BRITNEYWALLBANK {background-position: -8500px 0}
#HOHINWAN {background-position: -8750px 0}
#IZZYWILDE {background-position: -9000px 0}
#XIZEWU {background-position: -9250px 0}
#ZHANWENWU {background-position: -9500px 0}
#KSAWIERWYDRA {background-position: -9750px 0}
#SIFANXIANG {background-position: -10000px 0}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}