@import url("https://p.typekit.net/p.css?s=1&k=piq8ebp&ht=tk&f=47182.47185.48394.48401&a=151776399&app=typekit&e=css");
@font-face {
font-family:"space-mono";
src:url("https://use.typekit.net/af/d27913/00000000000000007735e94a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/d27913/00000000000000007735e94a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/d27913/00000000000000007735e94a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;font-display: swap;
}
@font-face {
font-family:"space-mono";
src:url("https://use.typekit.net/af/85404f/00000000000000007735e94b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/85404f/00000000000000007735e94b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/85404f/00000000000000007735e94b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;font-display: swap;
}
@font-face {
font-family:"owners";
src:url("https://use.typekit.net/af/bd0005/00000000000000007735f283/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/bd0005/00000000000000007735f283/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/bd0005/00000000000000007735f283/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;font-display: swap;
}
@font-face {
font-family:"owners";
src:url("https://use.typekit.net/af/c5cea3/00000000000000007735f293/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/c5cea3/00000000000000007735f293/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/c5cea3/00000000000000007735f293/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;font-display: swap;
}

.tk-space-mono { font-family: "space-mono",mono; }
.tk-owners { font-family: "owners",sans-serif; }

* {text-decoration: none;}
body {margin: 0px 0px 0px 0px}
html {scroll-behavior: smooth; --black: #121212; --yellow: #DDDC26;}

h1 {font-family: "owners", sans-serif;
    letter-spacing: 1pt;
    margin: 0;}

h2 {font-family: "space-mono", mono;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;}

h3 {}

.typed-cursor{color: var(--yellow)}

a {color: inherit;}

.container{
    display: flex;
    justify-content: left;
    padding-bottom: 15px;
    line-height: 12.5vw;
    color: #F3F2EB;
}

div.container>h1{
	/* font-size: 32px; */
	font-size: 16vw;
}

h1{font-size: 32px;}
html {scroll-behavior: smooth}

#menuToggle {
    display: block;
    position: fixed;
    top: 25px;
    left: 20px;
    height: 0;
    width: 0;
    z-index: 1;
    user-select: none;
}

a {text-decoration: none}
ul {list-style-type: none}
 
#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--black);
    border-radius: 0;
    z-index: 1;
    left: 0px;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

.pages {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    will-change: scroll-position;
    width: 100vw;
}

#menuToggle span:first-child {transform-origin: 0% 0%;}
#menuToggle span:nth-last-child(2) {transform-origin: 0% 100%}

#menuToggle input:checked ~ span {opacity: 1; transform: rotate(45deg) translate(-2px, -1px);}

#menuToggle input:checked ~ span:nth-last-child(3) {opacity: 0;transform: rotate(0deg) scale(0.2, 0.2)}
#menuToggle input:checked ~ span:nth-last-child(2) {transform: rotate(-45deg) translate(0, -1px)}

.menu {
    height: 100vh;
    width: 100vw;
    margin: -100px 0 0 -60px;
    padding: 75px;
    padding-top: 125px;
    background-attachment: fixed;
    background: linear-gradient(0.75turn, var(--yellow) 1%, #ffff8dce 10%);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(calc(-100% + 115px), 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    display: flex;
    gap: 25px 0;
    flex-direction: column}

#menuToggle input:checked ~ ul {transform: none}

.design{padding-left: 3.7vw}

.nav1 {display: none;}

.hero {
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 100vw;
    background: var(--black)
}

.pageheader {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 15vh;
}

#about {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: linear-gradient(0.75turn, var(--yellow) 0%, #ffff8d9a 100%);
    -moz-backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    margin-left: calc(100vw - 50px);
    gap: 100px;
    align-items: center;
    padding: 0 100px 0 100px;
}

.about-column {
    padding: 50px;
    color: var(--black);
    width: 400px;
}

.directions {
    display: flex;
    width: 100vw;
    background: var(--black);
    -moz-backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    flex-direction: column;
}

.hero-grid {
	border-style: solid; 
	border-color: var(--yellow)
}

.about-grid {
	border-style: solid; 
	border-color: var(--black)
}

.directions-grid {
	border-style: solid; 
	border-color: #ffffff;
}

.hero-grid-left {
	flex: 1; 
    min-width: 80vw;
}

.hero-grid-right {width:100px}

.directions-grid-left {width: 100px}

.directions-grid-right {flex: 1; min-width: 80vw}

.hero-sub {line-height: 34px;}

#scroll {
    display: flex;
    flex-direction: row;
    align-items: right;
    width: 100vw;
    height: 78vh;
    overflow-y: scroll;}

.students-grid-right {
    margin-top: 0;
    align-self: flex-start;
    flex: 1;
    display: flex;
    padding:20px;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 1;
}

.students-top {
    z-index: 999;
    background-color: var(--black);}

.student {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column-reverse;
    line-height: 30px;
    color: #F3F2EB;
    transform: scale(1.0);
}

.name, .quote {width: fill; height: 100%; padding: 15px; padding-bottom: 10px;}

.name {display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(0turn, #000000 0%, #00000000 50%)}

.quote {
    color: var(--black);
    flex-direction: column;
    background: linear-gradient(0.25turn, var(--yellow) 0%, #ffff8d9a 100%);
    /* -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px); */
    display: none}

.student:hover .quote {display: flex;}
.student:hover .name {display: none;}

.student:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transition: 500ms ease-in-out;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
}

.topnav {
	padding: 15px;
	padding-left: 30px;
    position: fixed;
    overflow: hidden;
}

.topnav h1 {
    float: left;
    color: #ffffff78;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

/* CSS to style the element when it's sticky */
.sticky {
    position: fixed;
    top: 0;
    width: 100%; /* Ensure full width */
    z-index: 1000; /* High z-index to stay on top */
  }
  
  

.animate{
    transition: 100ms ease-in-out;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
}

.topnav a h1:hover {color: var(--yellow)}
.topnav a h1.active {color: white;}


#logo {
    color: white;
    opacity: 0;
}

.hero-grid:hover #logo {
    opacity: .5;
}




@media only screen and (min-width: 1200px) and (max-height: 800px),
       only screen and (min-width: 1400px) and (max-height: 1000px),
       only screen and (min-width: 1600px) and (max-height: 1150px),
       only screen and (min-width: 1800px) and (max-height: 1200px) {
    .container{line-height: 9.375vw}
    .design{padding-left: 2.775vw}
    div.container>h1 {font-size: 12vw}
}

@media only screen and (min-width: 1200px) and (max-height: 700px),
       only screen and (min-width: 1400px) and (max-height: 850px),
       only screen and (min-width: 1600px) and (max-height: 950px),
       only screen and (min-width: 1800px) and (max-height: 1050px) {
    .container{line-height: 7.03125vw}
    .design{padding-left: 2.08125vw}
    div.container>h1 {font-size: 9vw}
}

@media only screen and (min-width: 1200px) and (max-height: 500px),
       only screen and (min-width: 1400px) and (max-height: 550px),
       only screen and (min-width: 1600px) and (max-height: 650px),
       only screen and (min-width: 1800px) and (max-height: 750px) {
    .container{line-height: 4.6875vw}
    .design{padding-left: 1.3875vw}
    div.container>h1 {font-size: 6vw}
}

@media only screen and (max-width: 750px) {
	.hero-grid-right {width:40px}
    .hero-sub {line-height: 3.9vw} 
    div.hero-sub>h1 {font-size: 3.5vw}}

@media only screen and (max-width: 600px) {
    html {--black: #000;} 
    .nav1 {display: block}
    .topnav {display: none}
    .hero-grid-right {width:40px}
    .container{line-height: 11.25vw}
    .design{padding-left: 3.33vw}
    div.container>h1 {font-size: 14.4vw}
    .pages {flex-direction: column; overflow-y: scroll; width: 100%; overflow-x: hidden;}
    
    #about {
        height: fit-content;
        width: 100vw;
        flex-direction: column;
        margin-left: auto;
        padding: 0  0 0 20px;
        gap: 0px;
    }

    .about-column {
        padding: 50px 100px 50px 100px;
        color: var(--black);
        width: auto;
    }

    .students-grid-right {
        margin-top: 0;
        align-self: flex-start;
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: calc(100% - 75px);
        align-items: center;
    }

    #scroll {
        display: flex;
        flex-direction: row;
        align-items: right;
        height: fit-content;
        width: auto;
        overflow-y: hidden;}
    
    .pageheader {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 70px;
    }

    .students-top {position: sticky; top: 0; align-self: flex-start;}
    .directions-grid-left {width: 75px; min-width: 75px;}
}

@media only screen and (max-width: 470px) {
    .container{line-height: 9.375vw;}
    .design{padding-left: 2.775vw}
    div.container>h1 {font-size: 12vw;}
}

@media only screen and (max-width: 400px) {
    .container{line-height: 7.03125vw;}
    .design{padding-left: 2.08125vw;}
    div.container>h1 {font-size: 9vw;}
    .hero-sub {line-height: 3.12vw;} 
    div.hero-sub>h1 {font-size: 2.8vw;}
}

#DANYALAHMED {background: url('sprites.webp') -250px -0;}
#EVANGELOSANGELOU {background: url('sprites.webp') -0 -0;}
#SARAANSTEE {background: url('sprites.webp') -0 -0;}
#JADEBEARD {background: url('sprites.webp') -0 -0;}
#FARZANANOOR {background: url('sprites.webp') -0 -0;}
#KAIBURLEY {background: url('sprites.webp') -0 -0;}
#XIYUCAI {background: url('sprites.webp') -0 -0;}
#KEYICHEN {background: url('sprites.webp') -0 -0;}
#DORIDASHTI {background: url('sprites.webp') -0 -0;}
#ADRIANDELGADO {background: url('sprites.webp') -0 -0;}
#DORIDASHTI {background: url('sprites.webp') -0 -0;}
#JAIDHALIWAL {background: url('sprites.webp') -500px -0;}
#BOBBIEDIKE {background: url('sprites.webp') -0 -0;}
#CHARLIEFIRZPATRICK {background: url('sprites.webp') -0 -0;}
#SAMUELGREEN {background: url('sprites.webp') -0 -0;}
#ZIMOUHUANG {background: url('sprites.webp') -0 -0;}
#RUICHENHUANG {background: url('sprites.webp') -0 -0;}
#ZHEHUANG {background: url('sprites.webp') -0 -0;}
#REHEEMIFILL {background: url('sprites.webp') -0 -0;}
#MIRELALESNEANU {background: url('sprites.webp') -0 -0;}
#YUJIALI {background: url('sprites.webp') -0 -0;}
#YONGLINLIAO {background: url('sprites.webp') -0 -0;}
#ALEXLINDON {background: url('sprites.webp') -0 -0;}
#ZHENLILIU {background: url('sprites.webp') -0 -0;}
#CHIHIMLO {background: url('sprites.webp') -0 -0;}
#TENZINLOCKLEY {background: url('sprites.webp') -1000px -0;}
#LOKEYEANNETUNG {background: url('sprites.webp') -0 -0;}
#GIOVANNINAMISDIAZ {background: url('sprites.webp') -0 -0;}
#ADAOBIOBIOHA {background: url('sprites.webp') -0 -0;}
#ALEXANDRAPANAYI {background: url('sprites.webp') -0 -0;}
#ANGELIKAPIORO {background: url('sprites.webp') -0 -0;}
#SAVINASALLAN {background: url('sprites.webp') -0 -0;}
#TOMASSAMPAIOROCHA {background: url('sprites.webp') -0 -0;}
#JACKSARTAN {background: url('sprites.webp') -0 -0;}
#ELINORSLACK {background: url('sprites.webp') -0 -0;}
#MOHAMMEDUDDIN {background: url('sprites.webp') -0 -0;}
#BRITNEYWALLBANK {background: url('sprites.webp') -0 -0;}
#HOHINWAN {background: url('sprites.webp') -0 -0;}
#IZZYWILDE {background: url('sprites.webp') -0 -0;}
#XIZEWU {background: url('sprites.webp') -0 -0;}
#ZHAWENWU {background: url('sprites.webp') -0 -0;}
#KSAWIERWYDRA {background: url('sprites.webp') -750px -0;}
#SIFANXIANG {background: url('sprites.webp') -0 -0;}
#HUANGZHE {background: url('sprites.webp') -0 -0;}
#HUANGZIMOU {background: url('sprites.webp') -0 -0;}